body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    rgba(128, 0, 128, 0.5)
  );
}
header,
main,
footer {
  z-index: 2;
}
main {
  flex-grow: 1;
  padding: 24px;
}
