a {
  text-decoration: none;
  color: #333;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  background-color: #be0a13;
  transition: width 0.3s ease-out;
}

a:hover::after {
  width: 100%;
}
